
@model MyPortfolioProject.Models.Entities.Tbl_Services
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class=" card" style="border:none;font-weight:bold">
    <a href="#">
        <i class="fa fa-wrench"></i>&nbsp;
        Hizmet Güncelle
    </a>
</div>
<form method="post">
    <div class="card-body">
        <div class="col-12">
            <div class="row">
                <div class="form-group col-6">
                    @Html.HiddenFor(x => x.ServicesID, new { @class = "form-control" })
                    <label>Hizmet Başlığı</label>
                    <input type="text" class="form-control" name="Title" placeholder="Hizmet başlığı giriniz..." value="@Model.Title">
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Hizmeti Güncelle</button>
        </div>
    </div>
</form>

<style>
    label {
        font-weight: bold;
    }
</style>