<div class="copyright py-sm-5 py-4 text-center">
    <div class="container">
        <p class="copy-footer-29">
            © 2022 I, Portfolio. All rights reserved | Design by <a href="https://w3layouts.com">W3layouts</a>
        </p>
    </div>
</div>
